*{
	padding: 0px;
	margin:0px;
}
#main{
	width:600px;
	margin: 20px auto;
	border: 1px solid #C7C5C5;
	position: relative;
}
#top{
   
	position: relative;
    margin: 0 40px;

}
.myimg{
	border: 1px solid #D3D2D2;
     width:150px;
     margin: 10px;
     /*height: 270px;*/
     float: left;
     position: absolute;
     left: 0px;
     top:0px;
}
.myimg img{
	width: 150px;
	height: 200px;
}
table{
	background-color: #E6E4E4;
	width:600px;
	position: absolute;
	top:300px;
}
table th{
	width: 200px;
}
table td{
	width: 200px;
	text-align: center;
}
table img{
	width: 100px;
	height: 100px;
}
